<form action="/answer" method = "get" class = "form m-5">
  <div class="input-group mb-3">
  <input type="text" name = "question" class="form-control" placeholder="Question">
  <div class="input-group-append">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</div>
</form>
