<div class="container-sm text-center">
<h1 class = "m-3">What's your question?</h1>
<form action="/answer" method = "get" class = "form">
  <div class="form-group">
    <input type="text" name="question" class = "form-control mb-3">
    <input type="submit" class = "btn-primary rounded">
  </div>
</form>
</div>
